openapi: 3.0.0
info:
  description: "Top brands in MENA Put their trust in Eldokan solutions to build its most effective online stores."
  version: 1.7.0
  title: El-Dokan Sass Admin API
  termsOfService: https://el-dokan.io/terms/
  contact:
    email: info@el-dokan.com
tags:
  - name: Product
    description: Product Crud
#     externalDocs:
#       description: Find out more
#       url: http://swagger.io
#   - name: Order
#     description: Access to Normal website

paths:
  "/products/{product_id}":
    get:
      tags:
        - Product
      summary: Get Main Product Details
      description: "Show Full Main Product Details"
      operationId: addPet
      parameters:
        - name: product_id
          in: path
          description: ID of main product
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "405":
          description: Invalid input 
    put:
      tags:
        - Product
      summary: Update an existing main product
      description: ""
      operationId: updatePet
      parameters:
        - name: product_id
          in: path
          description: ID of main product
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        $ref: "#/components/requestBodies/MainProduct"
      responses:
        "400":
          description: Invalid ID supplied
        "404":
          description: Pet not found
        "405":
          description: Validation exception
    delete:
      tags:
        - Product
      summary: Delete Product
      description: ""
      operationId: deleteProduct
      parameters:
        - name: product_id
          in: path
          description: ID product
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "404":
          description: Product not found
        "200":
          description: Success

externalDocs:
  description: Find out more about el-dokan
  url: https://el-dokan.com
servers:
  - url: https://storeapi.el-dokan.com/api/admin

components:
  requestBodies:
    UserArray:
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/User"
      description: List of user object
      required: true
    MainProduct:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/MainProduct"
      description: Pet object that needs to be added to the store
      required: true
  schemas:
    Order:
      type: object
      properties:
        id:
          type: integer
          format: int64
        petId:
          type: integer
          format: int64
        quantity:
          type: integer
          format: int32
        shipDate:
          type: string
          format: date-time
        status:
          type: string
          description: Order Status
          enum:
            - placed
            - approved
            - delivered
        complete:
          type: boolean
          default: false
      xml:
        name: Order
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        password:
          type: string
        phone:
          type: string
        userStatus:
          type: integer
          format: int32
          description: User Status
      xml:
        name: User
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      xml:
        name: Tag
    MainProduct:
      type: object
      required:
        - name
        - photoUrls
      properties:
        id:
          type: integer
          format: int64
        category:
          $ref: "#/components/schemas/Category"
        name:
          type: string
          example: doggie
        photoUrls:
          type: array
          items:
            type: string
        tags:
          type: array
          items:
            $ref: "#/components/schemas/Tag"
        status:
          type: string
          description: pet status in the store
          enum:
            - available
            - pending
            - sold
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
